.bgf{ background: #fff;}
.ovh{ overflow: hidden;}
.ovh-x{ overflow-x: hidden;}
.p-t-20{ padding-top: 20px;}
.p-b-20{ padding-bottom: 20px;}
.p-l-10{ padding-left: 10px;}
.p-r-10{ padding-right: 10px;}
.btnHeight{ height:40px !important;}
.f-s-14{ font-size: 14px;}
.f-s-16{ font-size: 16px;}
.f-s-18{ font-size: 18px;}
.f-s-20{ font-size: 20px;}
.f-b{ font-weight: bold;}
.t-c{text-align: center;}
.t-c-input input{ .t-c;}
.d-i-b{  display: inline-block }
.d-b{ display: block;}
.v-a-top{vertical-align: top;}
.v-a-middle{vertical-align: middle;}
.auto{
  margin:0 auto;
}
.f-l{ float:left;}
.f-r{ float:right;}
.m-t-10{ margin-top:10px;}
.m-t-20{ margin-top:20px;}
.m-t-25{ margin-top:25px;}
.m-b-10{ margin-bottom:10px;}
.m-l-10{ margin-left:10px;}

.m-l-50{ margin-left:50px;}
.size{
  margin:5px 10px;
  height: 100%;
}
.p-a{ position: absolute;}
.p-r{ position: relative;}
html,body{
  .size;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #f5f7f9;
}
#app {.size;  margin:0;}
input,button{ .btnHeight;  }
.login-bg{width: 100%; height: 100%; background: #5cb3f2; }
button{ padding:0 25px !important;  }
.border-none{
  border-radius:0 !important;
  border:0 !important;
  .f-s-16
}
.gray-btn{ background:#f5f5f5;}
.ivu-table th{
  background-color:#f3f9fc;
}

.ivu-table-large td{ height:50px;}
.ivu-table th{
  background-color:#f3f9fc;
}
//报表
.search-bar{ border:solid 1px #eceff0; padding:17px 15px; .bgf; margin:0 0 10px 0; }
.lightblue-btn,.grayblue-btn{
  border:0 !important;
  color:#fff;
}
.lightblue-btn{
  background:#74c4fe;
}
.grayblue-btn{
  background:#abc8df;
}
.fixed-bottom{
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.w-154{ width: 154px;}
.m-l-m80{ margin-left: -50px; }
.padding-50-modal {.ivu-modal-body{ padding: 30px 50px;}}
.ivu-form-item{ margin-bottom: 14px;}
.w-113{ width: 137px;}
.ivu-modal-header{ background: #f3f9fc;}

.formInfo-del-list{
  .tip-info{
    color:#ffb848;
    .f-s-16;
    .ivu-icon{ font-size:38px; .v-a-middle;}
  }
   .ivu-col{ .m-b-10; }
}
.login{
   width: 100%;
   height:768px;
   display: flex;
   display: -webkit-flex;
   justify-content: center; /* 水平居中 */
   align-items: center;     /* 垂直居中 */
  .info{ width: 404px;
    height: 347px;
    border-radius: 8px;
    .bgf;
  }
  .title{
    background: -webkit-linear-gradient(#7cc0f5,#5db4f4);
    border-radius: 8px 8px 0 0;
    height: 102px;
    width: 100%;
    border-bottom: solid 1px #dfe3e8;
    font-size: 24px;
    .f-b;
    .t-c;
    color: #fff;
    line-height: 104px;
    text-shadow: 0 1px 2px #3b9fe5;
    letter-spacing: 2px;
    position: relative;
    img{
      position: absolute;
      top:0;
      left:0;
    }
  }
  .inputInfo{
    width: 357px;
    background: #f5f9fe;
    height: 101px;
    border-radius: 10px;
    .auto;
    .m-t-20;
    input{
      .v-a-top;
      width: 305px;
      height: 48px!important;
      background: none;
      &::placeholder{
        color:#b5cfe3;
        .f-s-14;
      }
    }
    .bottom-line{
        border-bottom: solid 1px #dbe8fa;
    }
  }

 .tip{
   width: 48px;
   height:48px;
   .d-i-b;
 }

  .checkbox_user_sel{ width: 350px; .auto; .m-t-20; }
  .ivu-checkbox-group-item{
    width: 31%;
    color:#b5cfe3;
    cursor: pointer;
  }
  .wxIcon{
    width: 19px; height: 19px;
    .v-a-top;
  }
  .login_btn{ background: #5cb4f4; padding: 0 80px!important; border-radius: 5px!important;.f-s-16; .f-b;   }
}
.ivu-checkbox-checked .ivu-checkbox-inner {
  border-color: #5cb4f4;
  background-color: #5cb4f4;
}
.copyright{ position: absolute; bottom: 50px; width: 100%; .t-c; color:#fff; }
.wx_code{
  width:217px;
  .auto;
  margin-top: 34px;
  img{
    width: 103px;
    height: 103px;
    .auto;
    .d-b;
    margin-bottom: 45px;
  }
  .login_btn{ .d-b; .auto; .f-s-16; .f-b; }
}
.border-gray{
  border: solid 1px #eceff0;
}
.check-result{
   height: 768px;
  overflow: auto;
  overflow-x: hidden;
   .head{
    padding:0 10px;
    height: 53px;
     line-height: 53px;
     .f-s-16;
     color:#414447;
     border-bottom: solid 1px #eceff0;
   }
  .title{
    border-left:solid 3px #74c4fe;
    .f-s-14;
   .p-l-10;
    height: 32px;
    line-height: 32px;
    margin-top: 32px;
  }
  .list-info{
    margin: 10px 30px;
    .p-r;
    span{
      .d-i-b;
      width: 18px;
      height: 18px;
      background: #74c4fe;
      .t-c;
      line-height: 18px;
      border-radius: 10px;
      color: #fff;
    }
    i{ font-style: normal;
      .f-s-14;
      .d-i-b;
      line-height: 18px;
      .p-a;
      left:30px;
      color: #414447;
    }

  }
  .lightblue-btn {

    b{
      margin-right: 5px;
    }
    .f-s-14;
  }
  .btn-group{ margin-left: 17px;}
  textarea{
    width: 93%;
    box-sizing: border-box;
    margin: 17px;
    border-radius: 5px;
    padding:5px;
    border:solid 1px #e4e4e4;
    height: 152px;
    &::placeholder{
      color: #a4a4a4;
    }
  }
}

/////////new////////////
img{border:none;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
i,s,em,u{font-style:normal; text-decoration:none;}
a{text-decoration:none; outline:none; color:inherit;}
.clearfix:after{clear:both; content:" "; display:block; height:0; visibility:hidden;}
textarea,input,select{font:inherit; outline:none;}
body{font:12px/1.5 microsoft yahei,arial; color: #333;}
::-webkit-input-placeholder{color: #aaa;}

.y_container{position: relative; margin: 0 auto; width: 1024px; height: 768px;}
.y_left{position: absolute; left: 0; top: 0; height: 100%; width: 94px; background-color: #309be8; color: #f5f7f9; text-align: center;}
.yl_headpic{position: absolute; left: 50%; top: 28px; margin-left: -31px; width: 62px; height: 62px; border-radius: 50%; overflow: hidden;}
.yl_headpic img{width: 100%; min-height: 100%;}
.yl_operate{position: absolute; left: 0; width: 100%; top: 170px;}
.yl_operate dl{margin-bottom: 32px; cursor: pointer;}
.yl_operate dt{font-size: 0;}
.yl_operate dt img{height: 50px;}
.yl_operate dd{font-size: 18px; padding-top: 6px;}
.y_main{margin-left: 94px; height: 100%; background-color: #f5f7f9; overflow: auto;}
.yl_setup{position: absolute; left: 0; width: 100%; bottom: 52px;}
.yl_setup dl{margin-top: 8px; cursor: pointer;}
.yl_setup dt{font-size: 0;}
.yl_setup dt img{height: 32px;}
.yl_setup dd{font-size: 12px; padding-top: 2px;}
.yl_state{position: absolute; left: 0; width: 100%; bottom: 8px;}
.yl_state:before{content: ""; width: 10px; height: 10px; border-radius: 50%; display: inline-block; margin-right: 6px;}
.yl_state_normal:before{background-color: #0ff; box-shadow: 0 0 9px rgba(129,247,254,.8);}

.ylist_problem{padding-left: 4px; padding-top: 2px; color: #999;}
.ylist_problem dl{width: 450px; height: 118px; margin-left: 6px; margin-top: 8px; background-color: #fff; border: 1px solid #eee; float: left; position: relative;}
.ylist_problem i{position: absolute; left: 0; top: 0; width: 34px; padding-right: 6px; height: 40px; line-height: 40px; font-size: 18px; text-align: center; background-color: #bfbfbf; color: #fff; border-radius: 0 0 80% 0; font-family: arial;}
.ylist_problem dd{padding-left: 64px;}
.ylist_problem h2{padding-top: 12px; height: 36px; padding-right: 28px;}
.ylist_problem ul{width: 280px; margin-top: 20px;}
.ylist_problem ul.mult{margin-top: 0;}
.ylist_problem ul.mults{width: auto;}
.ylist_problem li{float: left; cursor: pointer; margin-bottom: 8px; padding-left: 34px; width: 58px; height: 24px; line-height: 24px; position: relative;}
.ylist_problem li:before{content: ""; width: 24px; height: 24px; border: 1px solid #e6e6e6; border-radius: 50%; position: absolute; left: 0; top: 0;}
.ylist_problem dl.on{border-color: #289cf4;}
.ylist_problem dl.on i{background-color: #289cf4;}
.ylist_problem dl.on h2{color: #289cf4;}
.ylist_problem li.selected{color: #289cf4;}
.ylist_problem li.selected:after{content: ""; width: 18px; height: 18px; background-color: #289cf4; border-radius: 50%; position: absolute; left: 4px; top: 4px;}
.ybtn_box{margin: 28px 0 12px; text-align: center; position: relative;}
.ybtn_box_special{border-top: 1px solid #289cf4; padding-top: 24px; padding-left: 24px; position: relative; margin: 40px 0 22px;}
.yb_right{position: absolute; right: 10px; top: 0;}
.ybtn{width: 150px; height: 40px; line-height: 40px; color: #fff; border-radius: 6px; font-size: 14px; text-align: center; margin: 0 14px; border: 0; cursor: pointer;}
.ybtn_dark{background-color: #289cf4;}
.ybtn_light{background-color: #77c5fc;}
.ybtn_gray{background-color: #acc8de;}

.ytips_problem{margin: 12px 0; text-align: center; color: #999;}
/* 乳腺癌风险因素 */

.ypub_box{background-color: #fff; border: 1px solid #eee; margin: 10px; min-height: 746px;}
.ypub_box2{background-color: #fff; border: 1px solid #eee; margin: 10px;}
.ypub_top{padding: 20px; position: relative;}
.ypub_top_special{padding: 28px 0 8px 28px;}
.ypub_title img{height: 28px; vertical-align: middle;}
.ypub_title i{font-size: 14px; color: #444; vertical-align: middle; padding-left: 10px;}
.ypub_return{position: absolute; right: 16px; top: 50%; margin-top: -18px; height: 36px; line-height: 36px; color: #fff; padding-left: 48px; padding-right: 26px; background-color: #289cf4; border-radius: 5px; cursor: pointer;}
.ypub_return:before{content: ""; position: absolute; left: 18px; top: 9px; width: 18px; height: 18px; background-image: url(./assets/return.png);}
.y_operation{border-top: 1px solid #289cf4;}
.yo_sider{float: left; margin: 14px; border: 1px solid #289cf4; width: 146px; color: #289cf4; line-height: 1.8; padding: 20px 0 28px;}
.yo_sider dl{padding-left: 24px;}
.yo_sider dt{font-size: 13px; padding: 5px 0; cursor: pointer;}
.yo_sider dd{}
.yo_sider li{padding-left: 16px; position: relative; cursor: pointer;}
.yo_sider li.on:before,
.yo_sider li:hover:before{content:""; position: absolute; width: 5px; height: 7px; left: 2px; top: 50%; margin-top: -4px; background-image: url(./assets/list_triangle.png);}
.yo_main{margin: 14px 14px 0 176px; border: 1px solid #289cf4; height: 648px; overflow: auto;}
.yo_main h1{font-size: 14px; text-align: center; padding: 20px 0; color: #289cf4;}
.yo_main dl{padding: 0 18px 20px; color: #444;}
/* 帮助中心 */

.col_half{display: inline-block; width: 45%;}
.y_history{padding: 26px 0 30px 14px;}
.ylist_square dl{padding-bottom: 10px;}
.ylist_square dt{float: left; padding-left: 22px; width: 88px; color: #444; line-height: 40px;}
.ylist_square ul{margin-left: 110px;}
.ylist_square li{display: inline-block; margin-right: 12px; margin-bottom: 7px; line-height: 38px; height: 38px; width: 114px; color: #999; text-align: center; border: 1px solid #d8d8d8; cursor: pointer; position: relative;}
.ylist_square li.selected{border-color: #289cf4; color: #289cf4;}
.ylist_square li.selected:after{content:""; position: absolute; right: 0; bottom: 0; width: 22px; height: 22px; background-image: url(./assets/item_selected.png);}

.ylist_optionbox dl{padding-bottom: 17px;}
.ylist_optionbox dt{float: left; padding-left: 22px; width: 88px; color: #444; line-height: 40px;}
.ylist_optionbox dd{margin-left: 110px;}
.ylist_optionbox h2{line-height: 38px; height: 38px; width: 246px; font-size: 14px; color: #444; text-align: center; border: 1px solid #d8d8d8; position: relative; margin-right: 12px; display: inline-block;}
.ylist_optionbox li{display: none;}
.ylist_optionbox li.show{display: block;}
.ylist_optionbox i{width: 32px; height: 38px; position: absolute; top: 0; cursor: pointer; background-size: 8px 16px; user-select: none;}
.ylo_prev{left: 0; background: url(./assets/arr_prev.png) no-repeat 13px 10px;}
.ylo_next{right: 0; background: url(./assets/arr_next.png) no-repeat 10px 10px;}
/* 基础信息 */

.uc_top{overflow: hidden; margin-bottom: 14px; background-image: url(./assets/uc_bg.png); background-position: top;}
.uc_head{width: 82px; float: left; margin-top: 22px; margin-left: 52px;}
.uc_head dt{height: 82px; background-size: cover;}
.uc_head dd{background-color: #77c5fc; line-height: 18px; color: #fff; text-align: center;}
.uc_info{margin-left: 180px;}
.uc_name{padding-top: 40px; padding-bottom: 28px; font-size: 16px; color: #fff;}
.uc_tips i{color: #999; padding-right: 50px;}
.uc_tips u{color: #309be8; cursor: pointer;}
.uc_sider{float: left; width: 146px; margin-left: 14px; border: 1px solid #289cf4; padding: 14px 0; min-height: 160px;}
.uc_sider li{padding-left: 34px; line-height: 2; font-size: 14px; color: #289cf4; position: relative; cursor: pointer;}
.uc_sider li.on:before,
.uc_sider li:hover:before{content:""; position: absolute; width: 5px; height: 7px; left: 18px; top: 50%; margin-top: -4px; background-image: url(./assets/list_triangle.png);}
.uc_main{margin-left: 176px; margin-right: 14px; border: 1px solid #289cf4; height: 596px;}
.uc_form{padding-left: 140px; line-height: 32px; padding-top: 10px;}
.uc_form dl{margin-bottom: 9px;}
.uc_form dt{width: 80px; float: left; color: #999;}
.uc_form dd{margin-left: 80px;}
.uc_form dd i{color: #444;}
.uc_input{height: 30px; line-height: 30px; padding: 0 10px; font-size: 14px; border: 1px solid #e4e4e4; width: 240px;}
.uc_diyselect{overflow: hidden;}
.uc_diyselect li{float: left; width: 76px; line-height: 30px; height: 30px; background-color: #f5f5f5; border: 1px solid #e4e4e4; text-align: center; cursor: pointer;}
.uc_diyselect li.selected{background-color: #289cf4; border-color: #289cf4; color: #fff;}
.ucbtn_box{text-align: center; padding-top: 2px;}
.uc_table{border-collapse: collapse; width: 100%; text-align: center;}
.uc_table th{padding: 12px 0; font-size: 14px; font-weight: normal; color: #309be8; background-color: #f3f9fc;}
.uc_table td{padding: 10px 0; color: #444;}
.uc_table b{display: inline-block; font-weight: normal; padding: 0 6px; color: #fff;}
.uc_table b.yellow{background-color: #f9cc8d;}
.uc_table b.green{background-color: #45dfbd;}
.uc_table b.gray{background-color: #bebebe;}
.uc_table i{margin: 0 8px; color: #309be8; cursor: pointer;}
.pop_layout{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); display: none;}
.pop_main{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 424px; background-color: #fff; border-radius: 4px; overflow: hidden; padding-bottom: 20px;}
.pop_top{height: 50px; background-color: #f3f9fc; border-bottom: 1px solid #e7e7e7;}
.pop_title{padding-left: 24px; font-size: 14px; color: #444; line-height: 50px;}
.pop_close{position: absolute; right: 0; top: 0; width: 50px; height: 50px; background-image: url(./assets/pop_close.png); background-size: 16px; cursor: pointer;}
.pop_form{padding-top: 33px; padding-bottom: 40px;}
.pop_form dl{margin-bottom: 12px;}
.pop_form dt{float: left; padding-left: 46px; line-height: 32px;}
.pop_form dd{margin-left: 112px;}
/* 个人中心 */

.ys_tab{overflow: hidden; border-bottom: 1px solid #289cf4; padding-left: 24px; padding-top: 10px;}
.ys_tab li{width: 98px; line-height: 34px; height: 34px; margin-right: 12px; border: 1px solid #289cf4; border-bottom: 0; float: left; text-align: center; color: #289cf4; cursor: pointer;}
.ys_tab li.on{background-color: #289cf4; color: #fff;}
.yk_top{font-size: 0; padding-top: 24px; padding-bottom: 18px;}
.yk_top i{color: #999; display: inline-block; width: 120px; text-align: right; line-height: 40px; padding-right: 14px; font-size: 12px;}
.yk_input{height: 38px; line-height: 38px; padding: 0 10px; font-size: 12px; border: 1px solid #e4e4e4; width: 240px; vertical-align: middle;}
.yk_top b{font-size: 12px; display: inline-block; width: 100px; line-height: 40px; height: 40px; margin-left: 14px; text-align: center; font-weight: normal; background-color: #289cf4; color: #fff; cursor: pointer; user-select: none;}
.yk_list{overflow: hidden; margin-left: 134px;}
.yk_list li{line-height: 34px; padding: 0 26px; background-color: #f5f5f5; border: 1px solid #d9d8d8; float: left; margin-right: 7px; margin-bottom: 9px; position: relative;}
.yk_list s{position: absolute; width: 12px; height: 12px; right: 7px; top: 50%; margin-top: -6px; background-image: url(./assets/item_delete.png); cursor: pointer; user-select: none;}
.yk_textarea{margin-left: 134px; padding-bottom: 18px;}
.yk_textarea textarea{padding: 6px 10px; width: 640px; height: 100px; border: 1px solid #e4e4e4; font-size: 12px;}
/* 系统设置 */

.y_template{padding: 28px 0 40px;}
.y_template i{float: left; width: 120px; text-align: right; color: #999; padding-top: 12px;}
.y_template ul{margin-left: 134px; overflow: hidden;}
.y_template li{border: 1px solid #e4e4e4; border-radius: 5px; width: 184px; height: 270px; padding: 1px; float: left; margin-right: 24px; position: relative; cursor: pointer;}
.y_template h1{padding: 30px 14px 16px; font-size: 16px; color: #444;}
.y_template h4{font-size: 12px; color: #999; padding: 0 14px; height: 132px;}
.y_template b{line-height: 36px; height: 36px; width: 100px; text-align: center; font-size: 12px; color: #fff; background-color: #289cf4; border-radius: 4px; display: block; margin: 0 auto;}
.y_template li.on{border: 2px solid #289cf4; padding: 0;}
.y_template li.on:after{content:""; position: absolute; top: 0; right: 0; width: 55px; height: 55px; background-image: url(./assets/template_selected.png);}
.y_template li.on h1{color: #289cf4;}
/* 模板设置 */

.ys_form{padding-top: 26px;}
.ys_form dl{padding-bottom: 6px;}
.ys_form dt{float: left; width: 120px; text-align: right; color: #999; line-height: 40px;}
.ys_form dd{margin-left: 134px;}
.ys_tips{padding: 12px 0; color: #999;}
.ys_logo img{max-width: 160px;}
.ys_button{width: 100px; height: 36px; line-height: 36px; color: #fff; text-align: center; font-size: 12px; border: 0; margin-right: 10px; cursor: pointer;}
.ys_button_dark{background-color: #289cf4;}
.ys_button_gray{background-color: #acc8de;}
.ys_diyselect{overflow: hidden;}
.ys_diyselect li{float: left; width: 98px; line-height: 38px; height: 38px; background-color: #f5f5f5; border: 1px solid #e4e4e4; text-align: center; cursor: pointer;}
.ys_diyselect li.selected{background-color: #289cf4; border-color: #289cf4; color: #fff;}
.ysl_height{height: 40px;}
.ys_print_btn{width: 100px; height: 40px; line-height: 40px; background-color: #f5f5f5; color: #444; text-align: center; font-size: 12px; margin-left: 10px; cursor: pointer; display: inline-block; vertical-align: middle;}
.ys_print_btn.selected{background-color: #289cf4; color: #fff;}
.ys_print{padding-bottom: 20px;}
.ys_print li{padding-bottom: 12px;}
.ys_switch{overflow: hidden; padding-bottom: 22px;}
.ys_switch li{width: 100px; height: 40px; border-radius: 20px; background-color: #eee; float: left; margin-right: 44px; position: relative;}
.ys_switch i{position: absolute; top: 0; width: 40px; height: 40px; line-height: 40px; font-size: 14px; text-align: center; color: #fff; background-color: #eee; border-radius: 50%; cursor: pointer;}
.yss_open{left: 0;}
.yss_close{right: 0;}
.ys_switch i.selected{background-color: #289cf4;}
.y_limit_input{height: 34px; line-height: 34px; padding: 0 10px; font-size: 12px; border: 1px solid #e4e4e4; width: 50px; vertical-align: middle;}
.y_limit_color{width: 178px; height: 36px; vertical-align: middle; background-image: url(./assets/yl_color.png); display: inline-block; margin: 0 8px;}
/* 通用设置 */
.yt_top{padding: 16px 24px 4px; overflow: hidden;}
.yt_logo{float: left; line-height: 1.3;}
.yt_logo h1{float: left;}
.yt_logo h1 img{width: 60px;}
.yt_logo h2{margin-left: 76px; font-size: 20px; color: #000; margin-bottom: 6px;}
.yt_logo h3{margin-left: 76px; font-size: 16px; color: #444;}
.yt_code{float: right; text-align: center;}
.yt_code h4 img{width: 52px;}
.yt_code h5{font-size: 12px; color: #999;}
.ypub_box2 table{width: 100%; border-collapse: collapse;}
.yt_attr{text-align: center; padding: 8px 0; border-bottom: 2px solid #3d3f4c;}
.yt_con{padding: 12px 24px; line-height: 1.7; border-bottom: 1px dashed #d2d2d2;}
.yt_img{padding: 4px 0;}
.yt_img img{height: 172px;}

.yt_foot{overflow: hidden; line-height: 2.2; padding: 10px 24px; border-top: 2px solid #3d3f4c;}
.yt_foot li{width: 33.33%; float: left;}
.ytf_left{text-align: left;}
.ytf_middle{text-align: center;}
.ytf_right{text-align: right;}

.yt_foot2{overflow: hidden; line-height: 2.2; padding: 12px 24px; border-top: 2px solid #3d3f4c;}
.yt_foot2 li{width: 50%; float: left;}
.ytf_left2{text-align: left;}
.ytf_right2{text-align: right;}

.yt_con2{padding: 0 24px 36px; line-height: 1.7;}


